* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  overflow: hidden;
  font-family: 'EB Garamond', serif;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container {
  position: relative;
  height: 100vh;
}

.swiper-wrapper {
  height: 100%;
}

.logo {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  top: 10px;
}

.logo p {
  font-size: 15px;
}

.logo p:before,
.logo p:after {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
  margin: 5px auto;
}

.social {
  z-index: 999;
  position: absolute;
  left: 20px;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.social:after {
  content: '';
  display: inline-block;
  width: 130px;
  height: 1px;
  background-color: #000;
}

.social__contetn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  margin-right: 25px;
  padding-bottom: 5px;
  overflow: hidden;
}

.social__link:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0px;
  left: -100%;
  -webkit-animation-name: social-anim_end;
          animation-name: social-anim_end;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.social__link:hover:after {
  -webkit-animation-name: social-anim_star;
          animation-name: social-anim_star;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes social-anim_star {
  0% {

  }

  100% {
    left: 0%;
  }
}

@keyframes social-anim_star {
  0% {

  }

  100% {
    left: 0%;
  }
}

@-webkit-keyframes social-anim_end {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@keyframes social-anim_end {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.page {
  height: 100%;
}

.page__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__pagination {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1500;
  right: 35px;
}

.page__bullet {
  width: 30px;
  height: 25px;
  background-color: transparent;
  margin-bottom: 15px;
  cursor: pointer;
}

.page__bullet_active {
  width: 50px;
  height: 50px;
  margin: 57px 0 57px 0px;
}

.page__bullet:first-child.page__bullet_active {
  margin: 0px 0 60px 0px;
}

.page__bullet:last-child.page__bullet_active {
  margin: 57px 0 0px 0px;
}

.page__left {
  width: 50%;
}

.page__right {
  width: 50%;
}

.footer {
  width: 50%;
  z-index: 999;
  position: absolute;
  bottom: 20px;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__inf span {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  width: 150px;
  height: 1px;
  background-color: #000;
  margin: 0px 10px;
}

.footer__coll {
  cursor: pointer;
  margin-left: 20px;
}

.header {
  z-index: 900;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  width: 50px;
  color: #000;
}

.menu__link:before,
.menu__link:after {
  content: '';
  display: block;
  width: 2px;
  height: 0px;
  background-color: #000;
  margin: 5px 0;
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.menu__link._active {
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-size: 45px;
}

.menu__link._active:before,
.menu__link._active:after {
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  height: 50px;
}

.menu__link:first-child:before {
  display: none;
}

.menu__link:last-child {
  margin-bottom: 0px;
}

.menu__link:last-child:after {
  display: none;
}

.page-1__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-1__title {
  padding: 0 20px;
  margin-top: 20px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-1__title h1 {
  font-size: 80px;
}

.page-1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.page-1__text_wrapper {
  overflow: hidden;
}

.page-1__text_left {
  padding-top: 10px;
  position: relative;
  max-width: 200px;
}

.page-1__text_left:before {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  z-index: 10;
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: width;
          animation-name: width;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-1__text p {
  font-size: 14px;
  margin-bottom: 10px;
}

.page-1__text p:last-child {
  margin-bottom: 0px;
}

.page-1__right {
  position: relative;
  background-color: #ecdede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.page-1__img {
  overflow: hidden;
  max-width: 350px;
  height: 80%;
  margin-right: 5px;
}

.page-1__bg {
  width: 90%;
  height: 90%;
  position: absolute;
}

.page-1__bg img {
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-active .page-1__text_left:before {
  -webkit-animation-name: width;
          animation-name: width;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-2__left {
  background-color: #e5eaeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-2__bg {
  position: absolute;
  top: 10px;
  left: 80px;
  width: 35%;
  height: 90%;
}

.page-2__img {
  margin-right: 70px;
  width: 50%;
  height: 75%;
  background-color: #eddfdc;
}

.page-2__img img {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.page-2__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 90px;
}

.page-2__text p {
  -webkit-transform: translateX(-230px);
      -ms-transform: translateX(-230px);
          transform: translateX(-230px);
}

.page-2__text span {
  display: block;
}

.ml-small {
  margin-left: 40px;
}

.ml-middle {
  margin-left: 130px;
}

.ml-large {
  margin-left: 200px;
}

.swiper-slide-active .page-2__img img {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: translate(25px, 40px);
      -ms-transform: translate(25px, 40px);
          transform: translate(25px, 40px);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.page-3__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3__img {
  width: 50%;
  height: 60%;
}

.page-3__img-description {
  margin-top: 20px;
  width: 50%;
  font-size: 14px;
}

.page-3__right {
  position: relative;
  background-color: #ecdede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3__bg {
  width: 70%;
  height: 70%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
      -ms-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  z-index: 0;
}

.page-3__bg .bg {
  width: 85%;
  height: 90%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-3__bg .img_contain {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page-3__text {
  position: relative;
  z-index: 2;
  max-width: 300px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.page-3__text:before,
.page-3__text:after {
  margin: 10px auto;
  content: '';
  display: block;
  height: 0px;
  width: 1px;
  background-color: #000;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.page-3__title {
  position: relative;
  z-index: 2;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-3__title p:first-child:after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
  margin: 2px 5px;
}

.page-3__share {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3__share button {
  position: relative;
  background-color: transparent;
  font-size: 20px;
}

.page-3__share button:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #000;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.page-3__share button:hover:after {
  height: 2px;
}

.page-3__share:after {
  content: '+';
  margin-left: 10px;
}

.swiper-slide-active .page-3__text:before,
.swiper-slide-active .page-3__text:after {
  display: block;
  height: 200px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.page-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-4__top {
  position: relative;
  background-color: #dce7e9;
  height: 75%;
}

.page-4__content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-4__content p {
  width: 120px;
}

.page-4__content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-4__bg {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-4__bg img {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}

.page-4__bg .bg_top {
  top: -15%;
}

.page-4__bg .bg_bottom {
  bottom: -20%;
}

.page-4__img {
  height: 90%;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateY(15%) scale(1, 0);
      -ms-transform: translateY(15%) scale(1, 0);
          transform: translateY(15%) scale(1, 0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.page-4__img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-active .page-4__img {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: translateY(15%) scale(1, 1);
      -ms-transform: translateY(15%) scale(1, 1);
          transform: translateY(15%) scale(1, 1);
}

.burger {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 2000;
  top: -100%;
  opacity: 0;
  left: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: none;
}

.burger.active {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  top: 0%;
  opacity: 1;
}

.burger__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__social {
  margin-left: 20px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__social a {
  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
}

.burger__icon {
  position: absolute;
  z-index: 2100;
  width: 40px;
  height: 40px;
  top: 8px;
  right: 10px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__icon span {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 1;
}

.burger__icon:before,
.burger__icon:after {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
}

.burger__icon:after {
  top: 10px;
}

.burger__icon:before {
  bottom: 10px;
}

.burger__icon.active:before,
.burger__icon.active:after {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #fff;
}

.burger__icon.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 20px;
}

.burger__icon.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 17px;
}

.burger__icon.active span {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
}

.show_left {
  -webkit-transform: translate(-50px, 0px);
      -ms-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
  opacity: 0;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.swiper-slide-active .show_left {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.swiper-slide-active .anim-show_left {
  -webkit-transform: translate(-50px, 0px);
      -ms-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: anim-show_left;
          animation-name: anim-show_left;
}

@-webkit-keyframes anim-show_left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

@keyframes anim-show_left {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

.swiper-slide-active .anim-show_top {
  -webkit-transform: translate(0px, -50px);
      -ms-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: anim-show_top;
          animation-name: anim-show_top;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.swiper-slide-active .anim-show_top-2 {
  -webkit-transform: translate(0px, -50px);
      -ms-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: anim-show_top;
          animation-name: anim-show_top;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anim-show_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

@keyframes anim-show_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

.show_scale {
  -webkit-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.swiper-slide-active .show_scale {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

@-webkit-keyframes width {
  0% {
    width: 0%;
  }

  100% {
    width: 110%;
  }
}

@keyframes width {
  0% {
    width: 0%;
  }

  100% {
    width: 110%;
  }
}

delay_02s {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.delay_04s {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.delay_06s {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.delay_08s {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.delay_1s {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

@media (max-width: 750px) {
  .footer__coll {
    font-size: 14px;
  }

  .page-1__right {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .page-1__left {
    width: 100%;
  }

  .page-1__title {
    position: relative;
    z-index: 100;
  }

  .page-1__text {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 80%;
    position: relative;
    z-index: 100;
    margin-bottom: 20px;
  }

  .page-2__img {
    width: 100%;
  }

  .page-2__text {
    font-size: 60px;
    margin: 0px 20px 0px 20px;
  }

  .page-2__text p {
    -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
            transform: translateX(-200px);
  }

  .page-3 .page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-3__left {
    width: 100%;
    height: 50%;
  }

  .page-3__img {
    margin-top: 20px;
  }

  .page-3__img-description {
    text-align: center;
  }

  .page-3__right {
    padding: 0px 20px;
    width: 100%;
    height: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .page-3__bg {
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .page-3__title {
    display: none;
  }

  .page-3__share {
    display: none;
  }

  .page-3__text {
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-3__text:before,
  .page-3__text:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 2px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .swiper-slide-active .page-3__text:before,
  .swiper-slide-active .page-3__text:after {
    width: 100px;
    height: 2px;
    -webkit-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
  }

  .page-4__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
  }

  .page-4__content .sesson {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-4__img {
    margin: 10px 0px;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .swiper-slide-active .page-4__img {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateY(0%) scale(1, 1);
        -ms-transform: translateY(0%) scale(1, 1);
            transform: translateY(0%) scale(1, 1);
  }
}

@media (max-width: 500px) {
  .header {
    right: 4px;
  }

  .menu__link {
    font-size: 16px;
  }

  .menu__link._active {
    font-size: 35px;
  }

  .burger {
    display: block;
  }

  .burger__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-2__left {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .page-2__right {
    width: 100%;
  }

  .page-2__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 30px;
  }

  .page-2__text p {
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
  }

  .social {
    display: none;
  }

  .ml-small {
    margin-left: 20px;
  }

  .ml-middle {
    margin-left: 70px;
  }

  .ml-large {
    margin-left: 100px;
  }

  .page-3__img {
    margin-top: 55px;
  }

  .footer {
    bottom: 10px;
    width: 100%;
    padding-left: 10px;
  }

  .footer span {
    height: 1px;
    width: 50px;
  }

  .footer__inf {
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__coll {
    font-size: 12px;
    margin-left: 7px;
  }

  .swiper-container .page__pagination {
    -webkit-transform: translate(0px, -48%);
        -ms-transform: translate(0px, -48%);
            transform: translate(0px, -48%);
  }

  .page__bullet_active {
    width: 40px;
    height: 40px;
  }

  .page-3__img-description {
    width: 80%;
  }
}

@media (max-width: 330px) {
  .header {
    right: -10px;
  }

  .menu__link {
    font-size: 12px;
  }

  .menu__link._active {
    font-size: 25px;
  }

  .page__bullet {
    width: 20px;
    height: 20px;
  }

  .page__bullet_active {
    width: 25px;
    height: 25px;
  }

  .swiper-container .page__pagination {
    right: 0;
  }
}